<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Register:</h1>



<form th:action="@{/register}"
      th:object="${registerRequest}" method="POST">
    Email:
    <input type="text" th:field="*{email}" />
    <br/>
    Password:
    <input type="password" th:field="*{password}" />
    <br/>
    Phone number:
    <input type="text" th:field="*{phone_number}" />
    <input type="submit" value="Create" />
</form>
<br/>



</body>
</html>